{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="card mx-auto justify-content-center" style="width: 75%;">
        <div class="card-body">
        <h2 class="text-center">Cari buku favoritmu di sini</h2>
            <div class="book_input text-center">
                    <input type="text" id="book_input" placeholder="Masukkan judul buku.." >
                    <button class="btn" onclick="search()">Search</button>
            </div>
            <table class="table text-center">
                <thead>
                        <th scope="col" class="align-middle">No.</th>
                        <th scope="col" class="align-middle">Sampul</th>
                        <th scope="col" class="align-middle">Judul</th>
                        <th scope="col" class="align-middle">Penulis</th>
                        <th scope="col" class="align-middle">Penerbit</th>
                        <th scope="col" class="align-middle">Tanggal terbit</th>
                </thead>
                <tbody id="book_list"></tbody>
            </table>
            <nav aria-label="...">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled" id="prev">
                        <p class="page-link" tabindex="-1">Prev</p>
                    </li>
                    <li class="page-item active">
                        <p class="page-link" id="current">1 <span class="sr-only">(current)</span></p>
                    </li>
                    <li class="page-item" id="next">
                        <p class="page-link" >Next</p>
                    </li>
                </ul>
            </nav>        
        </div>
    </div>
       
{% endblock %}