{% load static %}
<!DOCTYPE html>
<br lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>   
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <title>imDb</title>
</head>
<body id= "body" class="light">
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/landing">Home</a>
        <a href="/profile">Profile</a>
        <a href="/books">Books</a>

        {% if user.is_authenticated %}
        <a href="/acc/logout" id="logout">Logout</a>
        {% else %}
        <a href="/acc/login">Login</a>
        {% endif %}
    </div>
    
    <div id="main">
        <span style="font-size:30px;cursor:pointer;margin-left:5%" onclick="openNav()">&#9776; imDb </span>
        <label class="switch">
            <input id="theme_switch" type="checkbox" checked>
            <span class="slider round"></span>
        </label>
        <label id="theme"> Mau gelap? </label>
    </div>
    
    {% block content %}
    {% endblock %}
    
</body>
<script src="{%static 'js/animation.js' %}"></script>
</html>