{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="card mx-auto justify-content-center">
        <div class="card-body">
            {% if user.get_full_name %}
            <h3 class="text-center" style="margin: 2%;">Selamat datang</h3>
            <h2 class="text-center"> {{ user.get_full_name }}</h2>
            {% elif user.get_username %}
            <h3 class="text-center" style="margin: 2%;">Selamat datang</h3>
            <h2 class="text-center"> {{ user.get_username }}</h2>
            {% else %}
            <h2 class="text-center"> Selamat datang</h2>
            {% endif %}
                <form method="POST">
                        {% csrf_token %}
                        {% for fields in form %}
                        {{ fields.label_tag }}
                        <br>
                        {{ fields }}
                    {% endfor %}
                    <button type="submit" id ="submit" class="btn" style="text-align: center; margin-left: 80%;">Post</button>
                </form>
        </div>
        <h3 class="text-center">Curhatan kamu:</h3>
        {% for status in status %}
        <p class="text-center" id="status" style="margin:0; margin-bottom: 5%"> {{ status.status }} | {{ status.created_at }}</p>
        {% endfor %}
    </div>

{% endblock %}
