{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="card mx-auto justify-content-center">
        <div class="card-body">
            <h2 class="text-center">Profileku</h2>
            <p class="text-center">Halo! Namaku Alvia Dibby, dipanggil nengok.</p>
                <div id="accordion">
                    <h4> Aktivitas </h4>
                    <div>
                        <p>makan</p>
                        <p>tidur</p>
                        <p>repeat</p>
                    </div>

                    <h4> Pengalaman </h4>
                    <div>
                        <p>Staff Humas BEM Fasilkom UI</p>
                        <p>Vice PIC Visual Design COMPFEST 11</p>
                    </div>

                    <h4> Prestasi </h4>
                    <div>
                        <p>teu aya hiks</p>
                    </div>
                </div>
        </div>
</div>

{% endblock %}
