@import url('https://fonts.googleapis.com/css?family=Raleway:500,700,800i&display=swap');

.card{
    border-radius: 20px;
    box-shadow: -1px 2px 25px rgba(0,0,0,.08);
}

h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 4vw;
    margin-bottom: 3%;
}

h4{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1.5vw;
}

p{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1.5vw;
}

.btn{
    background-color: #4DB542;
    min-width: 78%;
    font-size: 80%;
}