@import url('https://fonts.googleapis.com/css?family=Raleway:500,700,800i&display=swap');

.card{
    border-radius: 20px;
    box-shadow: -1px 2px 25px rgba(0,0,0,.08);
    width: 50%;
    height: auto;
}

h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 4vw;
    margin-bottom: 3%;
}

h4{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1.5vw;
}

p{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1.5vw;
}

.btn{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1vw;
    margin: 3%;
    color: white;
    border-radius: 25px;
    text-align: center;
    width: 7vw;
    color: white;
    background-color: #4DB542;
    margin-left: 80%;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}