form {
    width: 80%;
    padding: 10px;
    text-align: center;
}

.input{
    width: calc(100% - 10px);
    height: 30px;
    /* box-shadow: 5px 5px 10px rgb(78, 78, 78); */
    border-style: none;
    border-width: 1px;
    border-radius: 10px;
    border-color: gray;
    margin: 10px 0;
    text-align: center;
}

.input:focus{
    border-width: 1.5px;
    border-color: rgb(78, 78, 78);
}

.button{
    margin: auto;
    border: none;
    border-radius: 10px;
    min-height: 30px;
    padding: 10px 30px;
    background-color: rgb(197, 67, 67);
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.5em;
    transition: 0.2s;
}

.button:hover{
    box-shadow: 10px 10px 20px rgb(78, 78, 78);
    transform: scale(1.05);
}

.dflex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background-image: linear-gradient(rgb(76, 76, 218) -20%, rgb(226, 226, 226), rgb(219, 77, 77) 120%);
    background-attachment: fixed;
    margin: 0;
    padding: 20px 0;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(134, 19, 19);
    text-align: center;
}

p{
    font-size: 0.8em;
}

.status{
    flex-direction: column-reverse;
}

.item {
    width: 65%;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(78, 78, 78);
    box-shadow: 0 10px 20px rgb(78, 78, 78);
    margin: 20px 0;
    padding: 0 10px;
}
