@import url('https://fonts.googleapis.com/css?family=Raleway:500,700,800i&display=swap');

.light {
  background-color:rgba(255,255,255,1);
  color: rgba(20,20,20,1);
}

.dark{
  background-color: rgba(20,20,20,1);
  color: rgba(255,255,255,1)
}

.light .card{
  margin: 3%;
  border-radius: 20px;
  box-shadow: -1px 2px 25px rgba(0,0,0,.08);
  width: 50%;
  height: auto;
}

.dark .card{
  background-color: #818181;
  margin: 3%;
  border-radius: 20px;
  box-shadow: -1px 2px 25px rgba(255,255,255, .1);
  width: 50%;
  height: auto;
}

h2{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 4vw;
  margin: 3%;
}

h3{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 1.7vw;
  margin-bottom: 3%;
}

h4{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1.5vw;
    padding: 2%;
    border: 1.5px solid;
    border-color: #ccc;
    border-radius: 5px;
    margin-bottom:2%;
}

h4:hover{
  color: #2196F3;
}

.dark h4:hover{
  color: gold;
}

p{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1.3vw;
    margin: 2.5%;
}

.btn{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1vw;
    margin: 3%;
    border-radius: 25px;
    text-align: center;
    width: 7vw;
    color: white;
    background-color: #2196F3;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

form{
  margin-left: 3%;
  margin-right: 3%;
}

#accordion {
  margin: 3%;
  margin-top: 8%;
}

/* The switch - the box around the slider */
label {
  margin:0;
}

.switch {
  position: relative;
  float: right;
  margin-right: 5%;
  width: 60px;
  height: 34px;
  transform: translateY(20%);
}

#theme {
  float: right;
  margin-right: 2%;
  transform: translateY(50%);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.light .table{
  background-color:rgba(255,255,255,1);
  color: rgba(20,20,20,1);
  font-family: 'Raleway', sans-serif;
}

.dark .table{
  background-color: inherit;
  color: rgba(255,255,255,1);
  font-family: 'Raleway', sans-serif;
}
.book_input{
  margin-bottom: 2%;
}
#book_input {
  width: 50%;
  height: 7vh;
  padding-left: 1.5%;
}

