{% load static %}

<!DOCTYPE html>
<br lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <title>imDb</title>
</head>

<body id= "body" class="light">
<div class="card mx-auto justify-content-center" style="margin: 12%;">
    <div class="card-body text-center">
        <h2 style="margin: 3%;">Login dulu yuk</h2>
        <div class='form'>
            <form method= 'POST'>
                {% csrf_token %}
                <input type= "text" name='username' class="loginput" placeholder= "Username" maxlength="25" id="username" required>
                <br>
                <input type= "password" name= 'password' class="loginput" placeholder="Password" maxlength="25" id="password" required>
                <div class="centre-items tombol">
                        <input type="submit" class="btn btn-primary" value="Login" id="submit">
                    </div>
            </form>
        </div>
    
</body>
</html>